

video#localVideo[screenshare="true"] {
  transform: scale(1, 1);
}

#localVideo[mode="user"] {
  transform: scale(-1, 1);
}

.Channel [screenShare="true"],
.Channel:has(:only-child) video {
  width: 100% !important;
}

/* Style for all video elements within the Channel (including participants) */

/* Animation for when a participant joins */
.Channel video.participant-enter {
  opacity: 0;
  transform: scale(0.8);
}

.Channel video.participant-enter.entered {
  opacity: 1;
  transform: scale(1);
}

/* Animation for when a participant leaves */
.Channel video.participant-leave {
  opacity: 1;
  transform: scale(1);
}

.Channel video[isRemote="true"] {
  border: 2px solid transparent;
}

.Channel video.participant-leave.left {
  opacity: 0;
  transform: scale(0.8);
}

/* Responsive adjustments */
@media (min-width: 600px) {

}

@media (min-width: 900px) {
}

/* More participants - adjust as needed */
.Channel.participants-2 #localVideo {
}

.Channel.participants-2 video:not(#localVideo) {
}

.Channel.participants-3 #localVideo {
}

.Channel.participants-3 video:not(#localVideo) {
}

.Channel.participants-4 #localVideo {
}

.Channel.participants-4 video:not(#localVideo) {
}

/* Add more classes for higher participant counts as needed */